html {
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 100px;
}

/*.columns {
  border: 3px solid #999;
  overflow: hidden;
}*/

.columns {
  padding: 1.5rem;
}

.col {
  background-color: #e2e2e2;
  border: solid #333;
  border-width: 0 0 0 1px;
  float: left;
  width: 25%;
}

.col2 {
  background-color: #ccc;
  border: solid #333;
  border-width: 0 0 0 1px;
  float: left;
  width: 25%;
}

.col3 {
  background-color: #aaa;
  border: solid #333;
  border-width: 0 0 0 1px;
  float: left;
  width: 25%;
}

.col4 {
  background-color: #999;
  border: solid #333;
  border-width: 0 0 0 1px;
  float: left;
  width: 25%;
}

dt {
  font-weight: bold;
}

.author {
  font-style: italic;
  font-size: .75rem;
}

dd {
  margin: 0;
}

.btn {
  background-color: #333;
  border-radius: 8px;
  color: #e2e2e2;
  display: inline-block;
  font-size: .875rem;
  margin: .3rem;
  padding: .4em .75em .4em;
  text-decoration: none;
  text-align: center;
}
